<span class="lock"></span>
<div class="container">
	<% include partials/_toast_list.ejs %>
	<header>
		<% include partials/_header.ejs %>
		<% include partials/_main_message.ejs %>
		<% include partials/_csl_environment.ejs %>
	</header>
	<% include partials/_widget_list.ejs %>
	<% include partials/_modal.ejs %>
</div>