<style>
	canvas {
		width:100%; height: 100%;
	}
</style>
<div class="chart-space" style="width: 400px; height: 300px; background: white;">
	<canvas class="solar-energy" width='4' height='3'></canvas>
</div>
<div class="chart-space" style="width: 400px; height: 300px; background: white;">
    <canvas class="solar-radiation" width='4' height='3'></canvas>
</div>
<div class="chart-space" style="width: 400px; height: 300px; background: white;">
    <canvas class="solar-compare" width='4' height='3'></canvas>
</div>
<div class="chart-space" style="width: 400px; height: 300px; background: white;">
    <canvas class="tanklvl" width='4' height='3'></canvas>
</div>
<div class="chart-space" style="width: 400px; height: 300px; background: white;">
    <canvas class="water-usage" width='4' height='3'></canvas>
</div>
<div class="chart-space" style="width: 400px; height: 300px; background: white;">
    <canvas class="chart-demo2" width='4' height='3'></canvas>
</div>

