<div class="video-preview">
	<video id="video" muted="" class="gifyt-player gifyt-embed" preload="auto" poster="/images/previews/tour.jpg" loop="" autoplay="" playsinline="">
		<source src="/videos/previews/tour.mp4" type="video/mp4">
	</video>
	<div class="icon icon-32 icon-play"></div>
	<p>
		Take a silent video tour of the CSL's native landscape, lagoon and atrium.
	</p>
</div>
<h4 class="video-title header">
	One of the Greenest Buildings in the World
</h4>
<script>
(elem) => {
	console.log(elem);
	$(elem).find('.video-preview').addBack('.video-preview').on('click', function() {
		modal.renderContent(`
			<iframe width="750" height="400"
			src="https://www.youtube.com/embed/pBqhJfC7zi0?autoplay=1"
			style="
				position: absolute;
				top: calc(50% - 200px); left: 0;
				border: none;
			">
			</iframe>
		`, show=true);
	});
}
</script>