node_modules
node_modules/*
app/assets/adobe
app/.DS_Store
app/views/layouts/.DS_Store
app/views/dashboard/.DS_Store
app/views/.DS_Store
.DS_Store
app/assets/images/.DS_Store
app/assets/images/.DS_Store
app/assets/images/icons/.DS_Store
app/assets/images/icons/.DS_Store
