<ul class="widget-list">
	<widget
		v-for="widget in widgets"
		v-bind:widget="widget"
		v-bind:editable="editable"
		v-bind:key="widget.id"></widget>
</ul>
<script>
	// the Widget component
	let Widget = {
		template: `<li class="widget-block">
	<div class="widget-space">
		<div class="widget-header header">{{ widget.data_label }}
			<button class="show-options" v-if="editable"></button>
			<ul class="widget-options">
			</ul>
		</div>
		<div class="widget-contents">
			{{ widget.data }}
		</div>
	</div>
</li>`	,
		props: ['widget', 'editable']
	}
	let widget_list = new Vue({
		el: '.widget-list',
		data: {
			widgets: [
				{
					id: 1,
					data_label: 'solar energy generated',
					data: 'test data',
					content_type: 'line graph'
				},
				{
					id: 2, 
					data_label: 'weed',
					data: 'test data 2',
					content_type: 'line graph'
				}
			],
			editable: true
		},
		components: {
			widget: Widget
		}
	});
</script>