<!DOCTYPE html>
<html>
	<head>
		<title><%= __title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="/js/vue.js"></script>
		<%- __stylesheet_tags %>
		<%- __javascript_tags %>
	</head>
	<body>
		<div class="underlay underlay-day sun-time sun-time-day"></div>
		<div class="underlay underlay-night sun-time sun-time-night"></div>
		<header class="page-header container">

		</header>
		<div class="content">
			<%- include(__yield) %>
		</div>
		<footer class="container">

		</footer>
	</body>
</html>